<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Error analysis</title>
</head>
<body>
<div class="container">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">BERT-for-FrameNet <span class="text-danger">Error Analysis</span></h1>
        </div>
    </div>
    <div class="container">
        <h2>Settings</h2>
        <!--First CSV file-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="csvFile1Label">CSV File 1</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="csvFile1Input"
                       aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="csvFile1Input">Choose file</label>
            </div>
        </div>

        <!--Second CSV file-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="csvFile2Label">CSV File 2</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="csvFile2Input"
                       aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="csvFile2Input">Choose file</label>
            </div>
        </div>

        <!--Submit button-->
        <button type="button" id="compareButton" class="btn btn-secondary btn-block mb-3">Compare!</button>

        <!--Analysis-->
        <h2>Analysis</h2>
        <div class="spinner-border" role="status" id="analysisSpinner" style="display: none">
            <span class="sr-only">Loading...</span>
        </div>

        <!--F1 diff plot-->
        <div id="errorDistPlot"></div>

        <div id="resultCards">
        </div>
        <div class="card mb-4" id="cardTemplate">
            <p class="card-header"><code>acc=0.75, prec=0.55</code></p>
            <div class="card-body">
                <p class="card-text text-info">[CLS] Hello world [SEP]</p>
                <a class="btn btn-sm btn-outline-info">Toggle analysis...</a>
                <table class="table table-sm table-responsive table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Token</th>
                        <th scope="col">Prediction 1</th>
                        <th scope="col">Prediction 2</th>
                        <th scope="col">Gold</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!--Plotly-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

<!--Custom scripts-->
<script src="{{url_for('static', filename='errorAnalysis.js')}}"></script>


</body>
</html>