<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>BERT-for-FrameNet SRL System</title>
</head>
<body>
<div class="container">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">BERT-for-FrameNet SRL System</h1>
        </div>
    </div>
    <div class="container">
        <h2>Text input</h2>
        <form id="textInputForm">
            <div class="form-group">
                <label for="textInput">Enter some text here:</label>
                <textarea class="form-control" id="textInput" rows="3"></textarea>
                <button type="button" id="analyzeButton" class="btn btn-primary mb-2">Submit</button>
                <div class="spinner-border" role="status" id="analysisSpinner">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <h2>Typical frames</h2>
        <div>
            <p>Click to remove, hover to see definition.</p>
            <ul id="typical-frame-list" class="list-group list-group-horizontal pb-3"></ul>
            <p><em id="frame-definition"></em></p>
        </div>
        <div>
            <form>
                <label for="frameOptions">Add a typical frame:</label>
                <div class="row">
                    <div class="col-sm">
                        <select id="frameOptions" class="form-control"></select>
                    </div>
                    <div class="col-sm mb-4">
                        <button type="button" id="addFrameButton" class="btn btn-primary">Add</button>
                        <button type="button" id="clearFrameButton" class="btn btn-primary">Clear</button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <p>Select frame inferring strategies:</p>
            <form>
                <ul id="frame-inferring-strategies" class="list-group list-group-horizontal pb-3">
                </ul>
            </form>
        </div>
    </div>
    <div class="container">
        <h2>Analysis</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Token</th>
                <th scope="col">Labels</th>
                <th scope="col">Inferred Typical Frames</th>
            </tr>
            </thead>
            <tbody id="analysis">
            <tr>
                <td>Text will appear here...</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!--Custom scripts-->
<script src="{{url_for('static', filename='app.js')}}"></script>

</body>
</html>